.o2k7Skin .mceSplitButton span.mceAction.mce_soextra_fontclass {background:url(../images/toolbar.gif) 0 1px no-repeat;}
.o2k7Skin .mceSplitButton span.mceAction.mce_soextra_fontsize {background:url(../images/toolbar.gif) -20px 1px no-repeat;}
.o2k7Skin .mceButton span.mceIcon.mce_soextra_create_quote {background:url(../../../../ezoe/design/standard/javascript/themes/ez/img/icons.png) -220px 0 no-repeat;}
.o2k7Skin .mceButton span.mceIcon.mce_soextra_create_block {background:url(../../../../ezoe/design/standard/javascript/themes/ez/img/icons.png) -820px -20px no-repeat;}
.o2k7Skin .mceButton span.mceIcon.mce_soextra_create_newline {background:url(../../../../ezoe/design/standard/javascript/themes/ez/img/icons.png) 0 -39px no-repeat;}
.o2k7Skin .mceButton span.mceIcon.mce_soextra_create_htmlcode {background:url(../../../../ezoe/design/standard/javascript/themes/ez/img/icons.png) -260px 0 no-repeat;}
.o2k7Skin .mceSplitButton span.mceAction.mce_soextra_class {background:url(../../../../ezoe/design/standard/javascript/themes/ez/img/icons.png) -558px -20px no-repeat;}
.o2k7Skin .mceButton span.mceIcon.mce_soextra_create_column {background:url(../../../../ezoe/design/standard/javascript/themes/ez/img/icons.png) -820px -20px no-repeat;}

.o2k7Skin .mceStatusbar a.mcePath_del {text-decoration:none; font-weight:bold;}

.o2k7Skin .mceStatusbar a.mcePath_cursorbefore,
.o2k7Skin .mceStatusbar a.mcePath_cursorafter {text-decoration:none;}