<?php /* #?ini charset="utf-8"?

[CustomTagSettings]
AvailableCustomTags[]=block
AvailableCustomTags[]=newline
AvailableCustomTags[]=pagebreak
AvailableCustomTags[]=underline
AvailableCustomTags[]=htmlcode
IsInline[underline]=true
IsInline[htmlcode]=image
## New setting as of OE 5.0.1
## Displays the custom tag as an image so you cannot create sub content.
## Will use custom image if there is a custom attribute on the tag named 'image_url'
#IsInline[externalimage]=image

[htmlcode]

CustomAttributes[]=htmlcontent
CustomAttributes[]=attr_width
CustomAttributes[]=attr_height
CustomAttributes[]=align
CustomAttributes[]=display_inline
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color
CustomAttributes[]=image_url


[newline]


[block]
CustomAttributes[]
CustomAttributes[]=classification
CustomAttributes[]=last
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=lineheight
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
CustomAttributes[]=padding
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color
AvailableClasses[]
AvailableClasses[]=1of1
AvailableClasses[]=1of2
AvailableClasses[]=1of3
AvailableClasses[]=2of3
AvailableClasses[]=1of4
AvailableClasses[]=3of4
AvailableClasses[]=1of5
AvailableClasses[]=2of5
AvailableClasses[]=3of5
AvailableClasses[]=4of5
AvailableClasses[]=1of6
AvailableClasses[]=5of6
AvailableClasses[]=1of8
AvailableClasses[]=3of8
AvailableClasses[]=5of8
AvailableClasses[]=7of8


[header]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=lineheight
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=width
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color

[paragraph]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=lineheight
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=width
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color
AllowEmpty=true

[literal]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=lineheight
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=width
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color

[emphasize]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor

[strong]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor

[link]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
AvailableViewModes[]
AvailableViewModes[A4]=PDF - A4
AvailableViewModes[A5]=PDF - A5

[ul]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=width
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color

[ol]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=width
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color

[li]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
AvailableClasses[]



[table]
Defaults[rows]=2
Defaults[cols]=2
Defaults[width]=100%
Defaults[border]=0
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=lineheight
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color

[tr]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=lineheight
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=height
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color

[td]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=lineheight
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=height
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color

[th]
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=lineheight
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=height
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color


[embed]
AvailableViewModes[]
AvailableViewModes[embed]=Embed
AvailableViewModes[map]=Map
AvailableViewModes[full]=Full
AvailableViewModes[line]=Line
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color
CustomAttributes[]=attr_width
CustomAttributes[]=attr_height

[embed-inline]
AvailableViewModes[]
AvailableViewModes[embed-inline]=Embed inline
AvailableViewModes[map]=Map
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color
CustomAttributes[]=attr_width
CustomAttributes[]=attr_height

[embed-type_images]
AvailableClasses[]

[embed-inline-type_images]
AvailableClasses[]

[embed_geo_location]
AvailableViewModes[]
AvailableViewModes[]=map
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color
CustomAttributes[]=attr_width
CustomAttributes[]=attr_height
CustomAttributes[]=zoom

[embed-inline_geo_location]
AvailableViewModes[]
AvailableViewModes[]=map
CustomAttributes[]=margin
CustomAttributes[]=padding
CustomAttributes[]=border_style
CustomAttributes[]=border_size
CustomAttributes[]=border_color
CustomAttributes[]=attr_width
CustomAttributes[]=attr_height
CustomAttributes[]=zoom

# Extra ezoe settings for embed and embed-inline.
# If you want to limit the amount of AvailableClasses and/or CustomAttributes
# on relations per class identifier or content type* you can do the following:
# NB: These settings also needs to be defined in [embed] or [embed-inline] for eZ Publish.
#
# Pattern for content type:
#[<tag>-type_<content-type>]
#
## This examples demonstrates limiting AvailableClasses list in editor
## when editing embed tags with a relation to a object of content type image.
#[embed-type_images]
#AvailableClasses[]
#AvailableClasses[]=blue_border
#AvailableClasses[]=dropp_down_shadow
#
# Pattern for class identifier:
#[<tag>_<class_identifier>]
#
## This example removes class list on embed-inline flash objects
#[embed-inline_flash]
#AvailableClasses[]
#
# *content type as defined by content.ini [RelationGroupSettings]

#custom tags
[strike]
CustomAttributes[]=classification
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor

[underline]
CustomAttributes[]=classification
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor

[sup]
CustomAttributes[]=classification
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor

[sub]
CustomAttributes[]=classification
CustomAttributes[]=fontsize
CustomAttributes[]=fontclass
CustomAttributes[]=forecolor
CustomAttributes[]=backcolor

[separator]
CustomAttributes[]=classification
CustomAttributes[]=align
CustomAttributes[]=width

*/ ?>
